# PyInstaller
build/
dist/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env / local config
.env
.env.*
*.local

# Logs
*.log

